name: Upload Python Package

on:
  push:
    branches:
      - main
  release:
    types: [published]

permissions:
  contents: write  # Required for bumping version
  id-token: write  # Required for OIDC/Trusted Publishing checks

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install build bump2version

    - name: Configure Git
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

    - name: Bump version and push
      # Bumps version, commits, and pushes back to repo
      run: |
        bump2version patch
        git push --follow-tags

    - name: Build package
      run: python3 -m build

    - name: Publish package to PyPI (Production)
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_PASSWORD }}
        # repository_url is removed, so it defaults to https://upload.pypi.org/legacy/